*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(bg.jpeg);
    background-position: center;
    background-size: cover;
}
form{
    background-color: white;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 40px;
}
.signup-title{
   font-family: 'Lobster', cursive;
    margin-bottom: 40px;
    color: #9b59b6;

}
input{
    padding: 10px;
    margin: 20px;
    width: 210px;
}
.submit-btn{
    color: black;
    background-color:#9b59b6;
    border: 0;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;

}
a:link,a:active{
    text-decoration: none;
}

a[class="home-link"]:link,a[class="home-link"]:active{
    color: rgb(255, 255, 255);
}
a[class="home-link"]:hover,a[class="home-link"]:visited{
    border-bottom: 2px solid #9b59b6;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);

}
a[class="register"]:active,a[class="login"]:link,a[class="login"]:hover,a[class="login"]:visited{
    color: #431755;
}
.home{
    padding-top: 40px;
    padding-left: 70px;
}

