*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.img-logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:visited,.main-nav li a:link{
    text-decoration: none;
    padding: 8px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 2px solid #9b59b6;
}
header{
    color: #d9d3d3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.17),rgba(0, 0, 0, 0.78)),url(img/background.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.header-title,.section-title{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header-title{
    margin: 15px 0 ;
    color: #fff;
    word-spacing: 4px; 
}
.section-title{
    word-spacing: 2px;
    text-align: center;  
}

.bg-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.btn:link,.btn:visited{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    color: #d9d3d3;
    transition: background-color 0.2s,color 0.2s;
}
.btn-hungry:link,.btn-hungry:visited{
    background-color: #9b59b6;
    border: 1px solid #9b59b6;
    margin-right: 15px;
}

.btn-show-more:link,.btn-show-more:visited{
    color: #9b59b6;
    border: 1px solid;
    border-color: #9b59b6;
}
.btn:hover,.btn:active{
    background-color: #690a69;
}
.btn-show-more:hover,.btn-show-more:active{
    color: #d9d3d3; 
}
 
.section-features{
    padding: 80px 0;
}

.section-title::after{
    display: block;
    height: 2px;
    background-color:#9b59b6;
    content: " ";
    width: 100px;
    margin: 30px auto;
}
.food-details{
    line-height: 30px;
    width: 70%;
    margin: auto;
}
.box{
    padding: 2px;
}

h3{
    font-family: 26px;
    margin-bottom: 15px;
    text-transform:uppercase;
    font-weight: 300;
}

.box p{
    font-size: 18px;
    line-height: 25px;
}
.icon-big{
    font-size:75px;
    display: block;
    color: #9b59b6;
    margin-bottom: 10px;
    
}
.section-features .food-details{
    margin-bottom: 30px;
}
.photos-showcase{
    list-style: none;
    width: 100%; 
}

.photos-showcase li{
    display: inline-block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s,opacity 0.5s;
}
.meal-photo img:hover{
    transform: scale(1);
    opacity: 1;
}
.section-meals-imgs{
    padding: 0;
}
.working-heading{
    width: 100%;
    margin-left: 100px;
}
.steps-section{
    margin-top: 40px;
}
.steps-box{
    margin-top: 30px;
}

.steps-box:first-child{
    float: left;
    padding-left: 15%;
}

.steps-box:last-child{
    padding-left: 3%;
}

.phone-screen{
    width: 60%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step div{
    color: #690a69;
    border: 2px solid #690a69;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 30px;
    margin-right: 25px;
}
.steps-info{
    margin-top: 50px;
}

.clearfix{zoom:1}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.section-cities{
    background-color: rgba(230, 220, 220, 0.13);
    padding-top: 80px;
    padding-bottom: 80px;
}
.city-feature{
    margin-bottom: 5px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #9b59b6;
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
.twitter-link:link ,.twitter-link:visited{
    color: #9b59b6;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #9b59b6;
    transition: border-bottom 0.2s , color 0.2s;
} 
.twitter-link:hover ,.twitter-link:active{
    color: #555;
    border-bottom: 1px solid transparent;
}

.section-reviews{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/food.jpeg);
    background-size: cover;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 29px;
}
blockquote:before{
    content: "\201C";
    font-style: italic;
    font-size: 80px;
}

cite{
    font-size: 19px;
    margin-top: 25px;
    display: block;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}