*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.img-logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:visited,.main-nav li a:link{
    text-decoration: none;
    padding: 8px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 2px solid #9b59b6;
}
header{
    color: #d9d3d3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.17),rgba(0, 0, 0, 0.78)),url(img/background.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.header-title,.section-title{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header-title{
    margin: 15px 0 ;
    color: #fff;
    word-spacing: 4px; 
}
.section-title{
    word-spacing: 2px;
    text-align: center;  
}

.bg-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.btn:link,.btn:visited{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    color: #d9d3d3;
    transition: background-color 0.2s,color 0.2s;
}
.btn-hungry:link,.btn-hungry:visited{
    background-color: #9b59b6;
    border: 1px solid #9b59b6;
    margin-right: 15px;
}

.btn-show-more:link,.btn-show-more:visited{
    color: #9b59b6;
    border: 1px solid;
    border-color: #9b59b6;
}
.btn:hover,.btn:active{
    background-color: #690a69;
}
.btn-show-more:hover,.btn-show-more:active{
    color: #d9d3d3; 
}

section{
    padding: 80px 0;
}

.section-title::after{
    display: block;
    height: 2px;
    background-color:#9b59b6;
    content: " ";
    width: 100px;
    margin: 30px auto;
}
.food-details{
    line-height: 30px;
    width: 70%;
    margin: auto;
}
.box{
    padding: 2px;
}

h3{
    font-family: 26px;
    margin-bottom: 15px;
    text-transform:uppercase;
    font-weight: 300;
}

.box p{
    font-size: 18px;
    line-height: 25px;
}
.icon-big{
    font-size:75px;
    display: block;
    color: #9b59b6;
    margin-bottom: 10px;
    
}
.section-features .food-details{
    margin-bottom: 30px;
}
.photos-showcase{
    list-style: none;
    width: 100%; 
}

.photos-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s,opacity 0.5s;
}
.meal-photo img:hover{
    transform: scale(1);
    opacity: 1;
}
.section-meals-imgs{
    padding: 0;
}