*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: #d9d3d3;
    height: 100%;
    width: 100%;
    text-rendering: optimizeLegibility;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.17),rgba(0, 0, 0, 0.78)),url(img/background.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.header-title{
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    
}
.bg-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.btn{
    
}